/* Element Selector div */
/* Id Selector #Logo */
/* class Selector .logo */

/* 
    fixed measure
    px
    cm
    mm
    pt


    relative measure
    rem
    em
    %
    vh
    vw

*/

* {
    font-family: "robotoRG";
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --Neutral800: #14142B;
    --Neutral700: #4E4B66;
    --Neutral600: #777990;
    --Neutral500: #B2B4C4;
    --Neutral400: #D9DBE9;
    --Neutral300: #EFF0F6;
    --Neutral200:#F6F7FF;
    --Neutral100: #ffffff;
    --Secondary1: #EBF8FF;
    --Secondary2: #FFF5D2;
    --Secondary3: #F3FBFF;
    --Secondary4: #F3EEFF;
}

html {
    scroll-behavior: smooth;
}

.container {
    max-width: 1258px;
    margin: 0 auto;
    width: 100%;
}

/* global elements */

a {
    color: var(--Neutral800);
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 700;
    font-family: "robotoRG";
}

a:hover,
a:foc {
    opacity: 0.6;
}


/* Header Style */
header {
    padding: 2rem 1rem;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

header > div.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > div.container > nav {
    display: flex;
    gap: 2rem;
}

header > div.container > a.logo {
    background-color: inherit;
}

header > div.container > a.email-address {
    display: flex;
    align-items: center;
    gap: 1rem;
}

/* main > section {
    height: 100vh;
} */

main > section#home {
    height: 100vh;
    display: flex;
    align-items: center;
}

main > section#home > div {
    flex: 1
}
main > section#home > div.banner-image {
    display: flex;
    justify-content: center;
}

section#service {
    height: 100vh;
}

section#service .service-container {
    position: relative;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

section#service .box-container {
    display: grid;
    grid-template-columns: repeat(2,auto);
    grid-template-rows: repeat(2,auto);
    gap: 2rem;
    height: 80%;
    width: 85%;
}



section#service .background {
    position: absolute;
    /* transform: translate(-50%, -50%); */
    height: 110%;
    width: 60%;
    top: 0;
    background-color: #EBF8FF;
    border-radius: 2rem;
    z-index: -1;
}


section#service div.box-container .box {
    background-color: white;
    border-radius: 1.5rem;
}

section#service div.box-container div.box div.service-content {
    display: flex;
    padding: 48px;
    align-items: flex-start;
    justify-content: space-between;
}

section#service div.box-container div.service-content div.service-icon img {
    margin-right: 28px;
    border-radius: 20px;
}


section#service div.box-container div.box div.service-content div.service-description h2 {
    margin-bottom: 1rem;
}








